This notebook currently assumes that you have the data downloaded locally and located in OP2/data.

In [1]:
import numpy as np 
import pandas as pd 
import os

adata_obs_meta = pd.read_csv("data/adata_obs_meta.csv")
adata_obs_meta.head()

,obs_id,library_id,plate_name,well,row,col,cell_id,donor_id,cell_type,sm_lincs_id,sm_name,SMILES,dose_uM,timepoint_hr,control
0,000006a87ba75b72,library_4,plate_4,F7,F,7,PBMC,donor_2,T cells CD4+,LSM-4944,MLN 2238,CC(C)C[C@H](NC(=O)CNC(=O)c1cc(Cl)ccc1Cl)B(O)O,1.0,24,False
1,0000233976e3cd37,library_0,plate_3,D4,D,4,PBMC,donor_1,T cells CD4+,LSM-46203,BMS-265246,CCCCOc1c(C(=O)c2c(F)cc(C)cc2F)cnc2[nH]ncc12,1.0,24,False
2,0001533c5e876362,library_2,plate_0,B11,B,11,PBMC,donor_0,T regulatory cells,LSM-45663,Resminostat,CN(C)Cc1ccc(S(=O)(=O)n2ccc(/C=C/C(=O)NO)c2)cc1,1.0,24,False
3,00022f989630d14b,library_35,plate_2,E6,E,6,PBMC,donor_0,T cells CD4+,LSM-43216,FK 866,O=C(/C=C/c1cccnc1)NCCCCC1CCN(C(=O)c2ccccc2)CC1,1.0,24,False
4,0002560bd38ce03e,library_22,plate_4,B6,B,6,PBMC,donor_2,T cells CD4+,LSM-1099,Nilotinib,Cc1cn(-c2cc(NC(=O)c3ccc(C)c(Nc4nccc(-c5cccnc5)...,1.0,24,False

In [3]:
de_train = pd.read_parquet('data/de_train.parquet')
de_train.head()

,cell_type,sm_name,sm_lincs_id,SMILES,control,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,...,ZUP1,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1
0,NK cells,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.104720,-0.077524,-1.625596,-0.144545,0.143555,...,-0.227781,-0.010752,-0.023881,0.674536,-0.453068,0.005164,-0.094959,0.034127,0.221377,0.368755
1,T cells CD4+,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.915953,-0.884380,0.371834,-0.081677,-0.498266,...,-0.494985,-0.303419,0.304955,-0.333905,-0.315516,-0.369626,-0.095079,0.704780,1.096702,-0.869887
2,T cells CD8+,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,-0.387721,-0.305378,0.567777,0.303895,-0.022653,...,-0.119422,-0.033608,-0.153123,0.183597,-0.555678,-1.494789,-0.213550,0.415768,0.078439,-0.259365
3,T regulatory cells,Clotrimazole,LSM-5341,Clc1ccccc1C(c1ccccc1)(c1ccccc1)n1ccnc1,False,0.232893,0.129029,0.336897,0.486946,0.767661,...,0.451679,0.704643,0.015468,-0.103868,0.865027,0.189114,0.224700,-0.048233,0.216139,-0.085024
4,NK cells,Mometasone Furoate,LSM-3349,C[C@@H]1C[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4(C)[C...,False,4.290652,-0.063864,-0.017443,-0.541154,0.570982,...,0.758474,0.510762,0.607401,-0.123059,0.214366,0.487838,-0.819775,0.112365,-0.122193,0.676629

In [4]:
id_map = pd.read_csv('data/id_map.csv')
id_map.head()

   id cell_type                                            sm_name
0   0   B cells  5-(9-Isopropyl-8-methyl-2-morpholino-9H-purin-...
1   1   B cells                                 ABT-199 (GDC-0199)
2   2   B cells                                             ABT737
3   3   B cells                            AMD-070 (hydrochloride)
4   4   B cells                                            AT 7867

In [5]:
multiome_obs_meta = pd.read_csv('data/multiome_obs_meta.csv')
multiome_obs_meta.head()

             obs_id     cell_type donor_id
0  000225c1151ab841       B cells  donor_0
1  0003c40a54367871  T cells CD4+  donor_2
2  0004bf574b822c3c  T cells CD4+  donor_2
3  000d59b5478f28e2       B cells  donor_0
4  0011b7473923d7b5      NK cells  donor_2

In [6]:
multiome_var = pd.read_csv('data/multiome_var_meta.csv')
multiome_var.head()

   location          gene_id     feature_type  genome                 interval
0      A1BG  ENSG00000121410  Gene Expression  GRCh38  chr19:58353491-58353492
1  A1BG-AS1  ENSG00000268895  Gene Expression  GRCh38  chr19:58347750-58351970
2       A2M  ENSG00000175899  Gene Expression  GRCh38    chr12:9116156-9116157
3   A2M-AS1  ENSG00000245105  Gene Expression  GRCh38    chr12:9065162-9065177
4     A2ML1  ENSG00000166535  Gene Expression  GRCh38    chr12:8822620-8845004

In [ ]:
# # These are too large to load into local memory along with everything 

# adata_train = pd.read_parquet('data/adata_train.parquet')
# adata_train.head()

# multiome_train = pd.read_parquet('data/multiome_train.parquet')
# multiome_train.head()